#root {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-self:center;
    flex-wrap:wrap;
    max-width: 50vw;
    margin: 10px auto;
}

.human {
    max-width: 100px;
    width: 100px;
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* 
    https://www.w3schools.com/charsets/ref_emoji_smileys.asp 
    https://www.w3schools.com/charsets/ref_emoji.asp
*/
.human-face {
    font-size: 100px;
    margin: 5px;
}

.bottle {
    min-width: 100px;
    border: solid 2px rgb(15, 107, 3);
}

.bottle-section {
    min-height: 15px;
    border: solid 1px #ccc;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-top-up {
    background-color: white; 
    color: black; 
    border: 2px solid #567ff1;
    height: 30px;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px auto;
}

.btn-top-up:hover {
    background-color: #1411a3;
    color: white;
}

#quantity-buttons {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-self:center;
    max-width: 250px;
    margin: 10px auto;
}

.btn-quantity, .btn-play {
    background-color: white; 
    color: black; 
    border: 2px solid #141414;
    height: 60px;
    width: 60px;
    font-size: 26px;
    border-radius: 50%;
    margin: 10px auto;  
}

.btn-quantity:hover, .btn-play:hover {
    background-color: #5e5cda;
    color: white;
}